

.container {
    background: #2e2e3b;
    border: 6px solid #767a7a;
    padding: 4px;
    width: 600px;
    height: 600px;
    gap: 4px;
}

.items {
    color: #ffffff;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    padding: 30px 37px;

    flex: 1;
}
